<nav class="site-nav">
  <div class="logo">
    Logo
  </div>
  <div class="links" role="list">
    <a href="/">Home</a>
    <a href="/nike">NIKE</a>
    <a href="/adidas">ADIDAS</a>
    <a href="/converse">CONVERSE</a>
  </div>
</nav>