<nav class="site-nav">
  <div class="logo">
    <img src="/images/sneakermania.png" alt="logo">
  </div>
  <div class="links" role="list">
   <div class="nav-items">
    <div class="dropdown">
      <button class="dropbtn">ADIDAS</button>
      <div class="dropdown-content">
        <a href="Adidas History.md">History</a>
        <a href="Adidas and Famous People.md">Famous People</a>
        <a href="Adidas Superstars & Sambas.md">Superstars and Sambas</a>
      </div>
    </div>
    
    <div class="dropdown">
      <button class="dropbtn">NIKE</button>
      <div class="dropdown-content">
        <a href="#">History</a>
        <a href="#">1980's</a>
        <a href="#">1990's</a>
      </div>
    </div>
    
    <div class="dropdown">
      <button class="dropbtn">CONVERSE</button>
      <div class="dropdown-content">
        <a href="#">History</a>
        <a href="#">Famous People</a>
      </div>
    </div>
  </div>
  </div>
</nav>

