section {
padding: 2em;
// border-style: double;
}

.page-footer{
display: grid;
grid-column-start: 1fr 1fr;
}

.project-image{
max-width:90%;
float:right;
  width: 50%;
  padding: 1em;
}

.project-text{
  float:right;
  width: 50%;
  padding: 1em;
}


// .page-projects{
    // position:absolute;
    // left: 250px;
// }

.grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0fr 0fr;
}

/* Styling */
.box {
  background: #818181;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 5px;
  border-radius: 2px;
}

body {
  font-family: roberto;
}