section {
  padding: 2em;
  // border-style: double;
  }
  
  .page-footer{
  display: grid;
  grid-column-start: 1fr 1fr;
  }
  
  .project-image{
  max-width:90%;
  float:right;
    width: 50%;
    padding: 1em;
  }
  
  .project-text{
    float:right;
    width: 50%;
    padding: 1em;
  }
  
  
  // .page-projects{
      // position:absolute;
      // left: 250px;
  // }
  
  .grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 0fr;
  }
  
  /* Styling */
  .box {
    background: #818181;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    border-radius: 2px;
  }
  
  body {
    font-family: roboto;
  }
  
  .img-container{
    position: relative;
    margin: 0; /* remove figure margins */
  }
  
  .img-container img{
    display: block; 
    /* setting the display to block 
    removes the gap under the image */
  }
  
  .img-caption{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255,.7);
    
    padding: 5px 10px;
    font-size: .85rem;
  }